Repository GeorgePearse/Genesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pinned-dependencies, zuban

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-pinned-dependencies
        name: Check that all dependencies are pinned
        entry: python scripts/check_pinned_deps.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: zuban
        name: zuban
        entry: zuban check
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        name: Lint Dockerfiles with hadolint
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:v2.12.0 hadolint

Add MCP server for Genesis experiment management
  genesis/genesis_mcp
  genesis/mcp_server.py
  pyproject.toml
Due: check-pinned-dependencies, zuban

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Due: none

Add Rust optimization examples from squeeze library
  README.md
  ROADMAP.md
  configs/task/squeeze_hnsw.yaml
  configs/task/squeeze_tsne.yaml
  configs/variant/squeeze_hnsw_e2b.yaml
  configs/variant/squeeze_hnsw_example.yaml
  configs/variant/squeeze_tsne_example.yaml
  examples/squeeze_hnsw/evaluate.py
  examples/squeeze_hnsw/initial.rs
  examples/squeeze_tsne/evaluate.py
  examples/squeeze_tsne/initial.rs
Due: zuban

Redesign frontend with dark theme, Tailwind v4, and Node.js backend
  genesis/webui/frontend/index.html
  genesis/webui/frontend/package-lock.json
  genesis/webui/frontend/package.json
  genesis/webui/frontend/postcss.config.js
  genesis/webui/frontend/server/index.ts
  genesis/webui/frontend/src/App.tsx
  genesis/webui/frontend/src/components/CommandMenu.css
  genesis/webui/frontend/src/components/CommandMenu.tsx
  genesis/webui/frontend/src/components/GenesisLayout.tsx
  genesis/webui/frontend/src/components/Header.css
  genesis/webui/frontend/src/components/Header.tsx
  genesis/webui/frontend/src/components/Layout.css
  genesis/webui/frontend/src/components/Layout.tsx
  genesis/webui/frontend/src/components/MainContent.tsx
  genesis/webui/frontend/src/components/Sidebar.tsx
  genesis/webui/frontend/src/components/left-panel/ClustersView.tsx
  genesis/webui/frontend/src/components/left-panel/EmbeddingsView.tsx
  genesis/webui/frontend/src/components/left-panel/ModelPosteriorsView.tsx
  genesis/webui/frontend/src/context/GenesisContext.tsx
  genesis/webui/frontend/src/index.css
  genesis/webui/frontend/src/types/index.ts
Due: none

Improve sidebar layout: show both sections, fill full height
  genesis/webui/frontend/src/components/Sidebar.tsx
Due: none

Fix sidebar to extend full viewport height
  genesis/webui/frontend/src/components/GenesisLayout.tsx
Due: none

Improve ProgramsTable styling and update README with new screenshot
  README.md
  genesis/webui/frontend/src/components/left-panel/ProgramsTable.css
Due: none

Style MetricsView with dark theme for charts
  genesis/webui/frontend/src/components/left-panel/MetricsView.css
  genesis/webui/frontend/src/components/left-panel/MetricsView.tsx
Due: none

Enhance README with image and implementation note
  README.md
Due: none

Apply dark theme to all WebUI visualization views
  genesis/webui/frontend/src/components/left-panel/BestPathView.css
  genesis/webui/frontend/src/components/left-panel/ClustersView.css
  genesis/webui/frontend/src/components/left-panel/ClustersView.tsx
  genesis/webui/frontend/src/components/left-panel/EmbeddingsView.css
  genesis/webui/frontend/src/components/left-panel/EmbeddingsView.tsx
  genesis/webui/frontend/src/components/left-panel/IslandsView.css
  genesis/webui/frontend/src/components/left-panel/IslandsView.tsx
  genesis/webui/frontend/src/components/left-panel/ModelPosteriorsView.css
  genesis/webui/frontend/src/components/left-panel/ModelPosteriorsView.tsx
  genesis/webui/frontend/src/components/left-panel/TreeView.css
Due: none

docs: Add comprehensive evolutionary approach technical deep dive
  docs/evolutionary_approach.md
Due: none

ci: Add MkDocs GitHub Pages deployment workflow
  .github/workflows/docs.yml
  mkdocs.yml
Due: none

docs: Add guides for custom tasks and E2B integration
  AGENTS.md
  README.md
  docs/creating_tasks.md
  docs/developer_guide.md
  docs/e2b_integration.md
  docs/getting_started.md
  docs/index.md
Due: none

docs: Add Scale AgentEx to related projects
  README.md
  docs/index.md
Due: none

fix: Remove conflicting static.yml workflow to fix GitHub Pages deployment
  .github/workflows/docs.yml
  .github/workflows/static.yml
Due: none

fix: Use MkDocs Material admonitions for collapsible parameter tables
  docs/index.md
Due: none

docs: Update roadmap with ELM chat, OptiLLM, and AgentEx integrations
  docs/roadmap.md
Due: none

docs: Add extensive list of LLM+Evolution research papers
  docs/papers.md
Due: none

docs: Update roadmap and getting started with logging plans, Letta integration, and advanced search
  docs/getting_started.md
  docs/roadmap.md
Due: none

feat: Add Cmd+K command menu with shadcn/ui components
  docs/getting_started.md
  docs/roadmap.md
  genesis/webui/frontend/src/components/CommandMenu.css
  genesis/webui/frontend/src/components/CommandMenu.tsx
  genesis/webui/frontend/src/components/ui/command.tsx
  genesis/webui/frontend/src/lib/utils.ts
  genesis/webui/frontend/tsconfig.app.json
  genesis/webui/frontend/vite.config.ts
Due: none

docs: Update AGENTS.md with comprehensive developer guide
  AGENTS.md
Due: none

refactor: Remove legacy Python visualization in favor of Vite frontend
  genesis/genesis_visualize
  genesis/webui/visualization.py
  genesis/webui/viz_tree.html
Due: zuban

fix(ui): Ensure command execution completes before closing CommandMenu
  genesis/webui/frontend/src/components/CommandMenu.tsx
Due: none

test: Add Playwright e2e tests for command menu navigation
  genesis/webui/frontend/package-lock.json
  genesis/webui/frontend/package.json
  genesis/webui/frontend/playwright.config.ts
  genesis/webui/frontend/tests/command-menu.spec.ts
Due: none

feat(ui): Add split view with code viewer and resizable panels
  genesis/webui/frontend/src/components/MainContent.tsx
  genesis/webui/frontend/src/components/Sidebar.tsx
  genesis/webui/frontend/src/components/right-panel/CodeViewerPanel.css
  genesis/webui/frontend/src/components/right-panel/CodeViewerPanel.tsx
  genesis/webui/frontend/tests/test-code-viewer.spec.ts
Due: none

fix(ui): Make tree node clicks open code viewer panel
  genesis/webui/frontend/playwright.config.ts
  genesis/webui/frontend/src/components/CommandMenu.tsx
  genesis/webui/frontend/src/components/GenesisLayout.tsx
  genesis/webui/frontend/src/components/MainContent.tsx
  genesis/webui/frontend/src/components/Sidebar.tsx
  genesis/webui/frontend/src/components/left-panel/TreeView.tsx
  genesis/webui/frontend/src/context/GenesisContext.tsx
  genesis/webui/frontend/src/types/index.ts
  genesis/webui/frontend/tests/test-code-viewer.spec.ts
  genesis/webui/frontend/tests/test-tree-code-viewer.spec.ts
Due: none

docs: Add ClickHouse logging guide and update roadmap with RL/vector search plans
  docs/getting_started.md
  docs/logging.md
  docs/roadmap.md
  genesis/core/runner.py
  genesis/llm/query.py
  genesis/utils/clickhouse_logger.py
  mkdocs.yml
  pyproject.toml
  scripts/README.md
  scripts/test_clickhouse.py
Due: check-pinned-dependencies, zuban

feat(llm): add OpenRouter support, update docs/logging/roadmap, and enable dynamic model selection
  configs/evolution/large_budget.yaml
  docs/available_llms.md
  docs/clickhouse.md
  docs/getting_started.md
  docs/roadmap.md
  genesis/core/runner.py
  genesis/llm/client.py
  genesis/llm/models/openai.py
  genesis/llm/models/pricing.py
  genesis/llm/query.py
  mkdocs.yml
Due: zuban

chore: Add oxlint pre-commit hook for frontend and fix lint violations
  .pre-commit-config.yaml
  genesis/webui/frontend/src/components/CommandMenu.tsx
  genesis/webui/frontend/src/components/GenesisLayout.tsx
  genesis/webui/frontend/src/components/ui/command.tsx
Due: none

feat: Add web search capability and enhance agent reasoning
  configs/database/island_large.yaml
  configs/database/island_medium.yaml
  configs/database/island_small.yaml
  configs/evolution/multi_model_chaos.yaml
  docs/configuration.md
  genesis/core/runner.py
  genesis/database/dbase.py
  genesis/llm/models/anthropic.py
  genesis/llm/models/openai.py
  genesis/llm/models/pricing.py
  genesis/llm/models/result.py
  genesis/llm/query.py
  genesis/tools/__init__.py
  genesis/tools/web_search.py
  genesis/utils/clickhouse_logger.py
  genesis/webui/backend_server.py
  genesis/webui/frontend/playwright-report/index.html
  genesis/webui/frontend/src/components/MainContent.tsx
  genesis/webui/frontend/src/context/GenesisContext.tsx
  genesis/webui/frontend/src/services/api.ts
  genesis/webui/frontend/test-results/final-verification.png
  genesis/webui/frontend/test-results/tree-01-initial.png
  genesis/webui/frontend/test-results/tree-02-after-click.png
  genesis/webui/frontend/test-results/tree-03-final.png
  genesis/webui/frontend/tests/test-auto-load.spec.ts
  genesis/webui/frontend/tests/test-database-loading.spec.ts
  genesis/webui/frontend/tests/test-final-verification.spec.ts
  scripts/check_empty_code.py
  scripts/check_evolution_runs.py
  scripts/check_metadata.py
  scripts/check_missing_embeddings.py
  scripts/compute_clusters.py
  scripts/debug_embedding_length.py
  scripts/debug_list_db.py
  scripts/debug_metadata.py
  scripts/fix_metadata.py
  scripts/fix_metadata_insert.py
  scripts/generate_missing_embeddings.py
  scripts/migrate_sqlite_to_clickhouse.py
  tests/test_ui_embeddings.py
Due: zuban

feat: Finalize embedding and cluster visualization setup
  genesis/webui/frontend/src/context/GenesisContext.tsx
  tests/test_ui_embeddings.py
Due: zuban

docs: Add LLM-driven task setup to roadmap
  docs/roadmap.md
Due: none

fix: Enable proper resuming of existing optimization runs
  genesis/core/runner.py
Due: zuban

Add link to nano-trm repository
  README.md
Due: none

docs: Add SAGA paper integration documentation
  docs/saga_integration.md
Due: none

docs: Update papers.md and roadmap with SAGA references
  ROADMAP.md
  docs/papers.md
Due: none
