Repository GeorgePearse/Genesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pinned-dependencies, zuban

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-pinned-dependencies
        name: Check that all dependencies are pinned
        entry: python scripts/check_pinned_deps.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: zuban
        name: zuban
        entry: zuban check
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        name: Lint Dockerfiles with hadolint
        language: docker_image
        types: ["dockerfile"]
        entry: hadolint/hadolint:v2.12.0 hadolint

docs: Add modular architecture design document
  docs/modular_architecture.md
Due: none

examples: Add SAGA objective evolution prototype
  examples/saga_objective_evolution/README.md
  examples/saga_objective_evolution/objective_evolver.py
Due: zuban

chore: Add code comments mapping SAGA concepts
  examples/circle_packing/evaluate.py
  genesis/core/runner.py
  genesis/core/summarizer.py
  genesis/core/wrap_eval.py
Due: zuban

config: Add SAGA-inspired configuration examples
  configs/saga/objective_evolution_example.yaml
Due: none

fix: resolve review findings in sampling, novelty, and web APIs
  genesis/core/summarizer.py
  genesis/database/dbase.py
  genesis/webui/backend_server.py
  genesis/webui/frontend/server/index.ts
  tests/test_meta_summarizer.py
Due: zuban

docs: add ALMA memory paper reference
  docs/papers.md
Due: none

docs: mention ALMA in README
  README.md
Due: none

feat: add GEPA-style prompt optimization and bootstrapped traces
  genesis/core/__init__.py
  genesis/core/gepa_optimizer.py
  genesis/core/runner.py
  genesis/core/sampler.py
  tests/test_gepa_optimizer.py
Due: zuban

feat: add ALMA-style long-term memory for evolution prompts
  genesis/core/__init__.py
  genesis/core/alma_memory.py
  genesis/core/runner.py
  genesis/core/sampler.py
  tests/test_alma_memory.py
Due: zuban

feat: add rust backend with clickhouse and openai adapters
  genesis_rust_backend/Cargo.lock
  genesis_rust_backend/Cargo.toml
  genesis_rust_backend/README.md
  genesis_rust_backend/src/config.rs
  genesis_rust_backend/src/core/alma_memory.rs
  genesis_rust_backend/src/core/gepa_optimizer.rs
  genesis_rust_backend/src/core/mod.rs
  genesis_rust_backend/src/core/novelty_judge.rs
  genesis_rust_backend/src/core/runner.rs
  genesis_rust_backend/src/core/sampler.rs
  genesis_rust_backend/src/core/summarizer.rs
  genesis_rust_backend/src/database/mod.rs
  genesis_rust_backend/src/launch/mod.rs
  genesis_rust_backend/src/lib.rs
  genesis_rust_backend/src/llm/mod.rs
  genesis_rust_backend/src/main.rs
  genesis_rust_backend/src/types.rs
  genesis_rust_backend/tests/memory_tests.rs
Due: none

refactor: remove Slurm integration, keep Local and E2B backends
  AGENTS.md
  README.md
  ROADMAP.md
  configs/task/agent_design.yaml
  configs/task/circle_packing.yaml
  configs/task/mask_to_seg.yaml
  configs/task/mask_to_seg_rust.yaml
  configs/task/novelty_generator.yaml
  docs/api/launch.md
  docs/clickhouse.md
  docs/clickhouse_schema_reference.md
  docs/configuration.md
  docs/developer_guide.md
  docs/getting_started.md
  docs/index.md
  docs/roadmap.md
  examples/e2b_demo/README.md
  examples/e2b_demo/demo_e2b_backend.py
  genesis/launch/__init__.py
  genesis/launch/scheduler.py
  genesis/launch/slurm.py
Due: zuban

docs: add SkyDiscover to related projects
  README.md
Due: none

docs: add SkyDiscover notes and AutoHarness reference
  README.md
  docs/index.md
  docs/papers.md
Due: none

docs: dedupe SkyDiscover references
  README.md
  docs/index.md
Due: none

docs: clarify SkyDiscover as apparent SOTA reference
  README.md
  docs/index.md
Due: none

docs: add squeeze as external test-case repo
  README.md
  docs/index.md
Due: none

feat: speed up squeeze HNSW search_layer hot path
  examples/squeeze_hnsw/initial.rs
Due: none

docs: add curated Dicklesworthstone repos relevant to Genesis
  README.md
  docs/index.md
Due: none

feat: add Python app auto-deploy flow
  .github/workflows/deploy-app.yml
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  docs/deployment.md
  genesis/webui/backend_server.py
  genesis/webui/frontend/src/services/api.ts
  mkdocs.yml
Due: zuban

test: add Playwright smoke test starter
  genesis/webui/frontend/package-lock.json
  genesis/webui/frontend/package.json
  genesis/webui/frontend/tests/smoke.spec.ts
Due: none

docs: add auth and billing plan to readme
  README.md
Due: none

docs: add py-turboquant link
  README.md
  docs/index.md
Due: none

fix(ci): ignore pg_dump version headers in DDL sync check
  .factory/settings.json
  .github/workflows/ci.yml
Due: none

chore: add .gitguardian.yaml to ignore false positives
  .gitguardian.yaml
Due: none

ci: add workflow_dispatch trigger to deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: update Rust to 1.86 for edition2024 support
  genesis_rust_backend/Dockerfile
Due: none

fix: pin home crate to 0.5.11 for Rust 1.86 compatibility
  genesis_rust_backend/Cargo.lock
Due: none

fix: frontend build to lint only src, improve cloud sql proxy wait
  .github/workflows/deploy.yml
  genesis/webui/frontend/package.json
  terraform/tfplan
Due: none

feat: add Google sign-in via Clerk and per-user Stripe billing
  .env.example
  genesis/webui/frontend/package-lock.json
  genesis/webui/frontend/package.json
  genesis/webui/frontend/server/billing.ts
  genesis/webui/frontend/server/db.ts
  genesis/webui/frontend/server/index.ts
  genesis/webui/frontend/src/App.tsx
  genesis/webui/frontend/src/components/BillingGate.tsx
  genesis/webui/frontend/src/components/ErrorBoundary.tsx
  genesis/webui/frontend/src/context/GenesisContext.tsx
  genesis/webui/frontend/src/main.tsx
  migrations/001_users_subscriptions.sql
Due: none

feat: integrate ty type checker and replace pre-commit with prek
  .pre-commit-config.yaml
  pyproject.toml
Due: check-pinned-dependencies
